@model ICollection<HtmlRecordViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HTML Reviewer App</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table id="htmlRecords" class="display hover row-border stripe">
            <thead>
                <tr>
                    <th>Created On</th>
                    <th>Updated On</th>
                    <th>Shareable URL</th>
                    <th>HTML Record</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var htmlRecord in this.Model)
                {
                    <tr>
                        <td width="120px">
                            @htmlRecord.CreatedOn.ToLocalTime().ToString("dd-MM-yyyy")
                        </td>
                        <td width="120px">
                            @htmlRecord.UpdatedOn.ToLocalTime().ToString("dd-MM-yyyy")
                        </td>
                        <td width="130px">
                            @htmlRecord.ShareableUrl
                        </td>
                        <td width="400px">
                            <div style="max-height: 50px; overflow-y: scroll;">
                                @htmlRecord.Html
                            </div>
                        </td>
                        <td width="130px">
                            <button class="btn btn-info">
                                Edit
                            </button>
                            <button class="btn btn-success" onclick="window.open('@htmlRecord.ShareableUrl', '_blank')">
                                Preview
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}